<%
    
    @usuario = session[:type]

    @tipo_user = Type.where(:id => @usuario).first
    puts @tipo_user.id
   ## Validando usuario para pegar menu correspondente
    if(@tipo_user.id == 2)
      
      %>
<nav style="">
<ul class="menu">
        <li style="padding:5px;">Bem vindo, <% @user_logged %>&nbsp;&nbsp;&nbsp;</li>
        <li><%= link_to 'Adicionar Serviço', :controller => 'services', :action => 'new' %></li>
        <li><a href="#">NPA</a></li>
       
        <li><a href="#">FAQ</a></li>
        <li><%= link_to 'Sair', logout_path, method: :delete, data: { confirm: 'Tem certeza?' } %></li>               
</ul>
</nav>
      <%
    end

    if(@tipo_user.id == 1)

%>
<nav style="">
<ul class="menu">
        <li style="padding:5px;">Bem vindo, <% @user_logged %>&nbsp;&nbsp;&nbsp;</li>
        <li><%= link_to 'Usuários', :controller => 'users', :action => 'index' %></li>
        <li><%= link_to 'Serviços', :controller => 'services', :action => 'index' %></li>
       
        <li><a href="#">FAQ</a></li>
        <li><%= link_to 'Sair', logout_path, method: :delete, data: { confirm: 'Tem certeza?' } %></li>               
</ul>
</nav>
      <%
    end

    if(@tipo_user.id == 3)

%>
<nav style="">
<ul class="menu">
        <li style="padding:5px;">Bem vindo, <% @user_logged %>&nbsp;&nbsp;&nbsp;</li>
        <li><%= link_to 'Usuários', :controller => 'users', :action => 'index' %></li>
        <li><%= link_to 'Serviços', :controller => 'services', :action => 'index' %></li>
        <li><%= link_to 'Sair', logout_path, method: :delete, data: { confirm: 'Tem certeza?' } %></li>               
</ul>
</nav>
      <%

    end
%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Graduação:</strong>
  <%= @user.graduation %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
