<%
    
    @usuario = session[:type]
    puts @user_logged
    @tipo_user = Type.where(:id => @usuario).first
    puts @tipo_user.id
   ## Validando usuario para pegar menu correspondente
if(@tipo_user.id == 2)
      
      %>
<nav style="">
<ul class="menu">
        <li style="padding:5px;">Bem vindo, <%= @user_logged %>&nbsp;&nbsp;&nbsp;</li>
        <li><%= link_to 'Adicionar Serviço', :controller => 'services', :action => 'new' %></li>
        <li><a href="/npaeti.pdf" target="_blank">NPA</a></li>
       
        
        <li><%= link_to 'Sair', logout_path, method: :delete, data: { confirm: 'Tem certeza?' } %></li>               
</ul>
</nav>
      <%
    end

    if(@tipo_user.id == 1)

%>
<nav style="">
<ul class="menu">
        <li style="padding:5px;">Bem vindo, <%= @user_logged %>&nbsp;&nbsp;&nbsp;</li>
        <li><%= link_to 'Usuários', :controller => 'users', :action => 'index' %></li>
        <li><%= link_to 'Serviços', :controller => 'services', :action => 'index' %></li>
       
        
        <li><%= link_to 'Sair', logout_path, method: :delete, data: { confirm: 'Tem certeza?' } %></li>               
</ul>
</nav>
      <%
    end

    if(@tipo_user.id == 3)

%>
<nav style="">
<ul class="menu">
        <li style="padding:5px;">Bem vindo, <%= @user_logged %>&nbsp;&nbsp;&nbsp;</li>
        <li><%= link_to 'Usuários', :controller => 'users', :action => 'index' %></li>
        <li><%= link_to 'Serviços', :controller => 'services', :action => 'index' %></li>
        <li><%= link_to 'Sair', logout_path, method: :delete, data: { confirm: 'Tem certeza?' } %></li>               
</ul>
</nav>
      <%

    end
%>
<% if notice %>
<script type="text/javascript">
alert('Passagem de serviço encaminhada com sucesso!');
</script>
<% end %>
<div style="width:800px; height:450px; border:2px solid #ccc; float:left; margin-left:220px; padding:20px; margin-top:60px;">
<br />
<center><h2 style="color:red;">Aviso!</h2></center><br />
<p>- O militar de serviço de Permanência ao ETI somente estará autorizado a se ausentar da Seção por solicitação de serviço, refeições, devendo sempre avisar o SAU ou o encarregado da Seção de manutenção ou sem dias sem expedientes a Sala da Guarda.</p>	
<br />
<p>- O permanência ao ETI é responsável pela limpeza das instalações do ETI (Desenvolvimento e Manutenção) devendo manter durante todo o serviço.Deverá passar o seu serviço ao seu sucessor legal com banheiros, seções, varanda e calçadas limpas, retirar o lixo, varrer e passar o pano no piso. A faxina deverá ser realizada antes da passagem do serviço, se não o fizer, o Permanência fará após o término do expediente.</p>
<br />
<p>- Em caso de necessidade de acionamento dos militares do ETI verificar o setor de trabalho de cada militar que resolverá o devido problema.</p>
<br />
<p>- Em "BACKUP DOS SERVIDORES", marcar os <strong>BACKUPS</strong> realizados selecionando o respectivo checkbox em caso de sucesso, em caso de falha não marcar, escrevendo no campo alterações as panes apresentadas.</p>
<br />
<p>- Em "CHECK LIST" marcar os horários realizados selecionando o seu respectivo checkbox. Enão selecionar em caso de não realizar o "CHECK LIST".</p>
<br />
<p>- O permanência ao ETI não deve permitir a entrada ou permanência nas dependências do Esquadrão (Desenvolvimento, Manutenção e Sala de Servidores) de pessoas que não fazem parte do efetivo do ETI após o expediente e aos finais de semana e feriados.</p>
</div>
